.film {
    width: 451px;
    display: flex;
    box-shadow:
            0 4px 12px rgba(0, 0, 0, 0.15);
}

.film__image {
    object-fit: cover;
    width: 183px;
    height: 281px;
}

.film__info {
    padding: 12px 9px 12px 20px;
}

.film__header {
    display: flex;
    gap: 9px;
    justify-content: space-between;
}

.film__title {
    padding: 0;
    margin: 0 0 7px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #000000;
}

.film__vote {
    flex-shrink : 0;
    width: 30px;
    height: 30px;
    border: 2px solid;
    border-radius: 50%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}

.film__vote--red {
    border-color: #E90000;
}

.film__vote--orange {
    border-color: #E97E00;
}

.film__vote--yellow {
    border-color: #E9D100;
}

.film__vote--green {
    border-color: #66E900;
}

.film__date {
    padding: 0;
    margin: 0 0 7px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #827E7E;
}

.film__types {
    padding: 0;
    margin: 0 0 7px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.film__type {
    padding: 2px 4px 3px 5px;
    margin: 0;
    box-sizing: border-box;
    background: #FAFAFA;
    border: 1px solid #D9D9D9;
    border-radius: 2px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.65);
}

.film__description {
    padding: 0;
    /*width: 228px;*/
    margin: 0 0 7px;
}

.ant-rate {
    font-size: 15px !important;
}
